{{!-- <div>
  <img src={{beer.image_url}} alt="">
</div>
<div>
  <h1>{{beer.name}}</h1>
</div> --}}

<div>



<div class="beer-card">
 
    <img src="{{this.image_url}}" alt="">
    <br>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>

    <h3>{{this.tagline}}</h3>
    <br>

</div>


</div>
